<br><br>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Doctor Name</th>
            <th>Hospital Name</th>
            <th>Treatment Name</th>
        </tr>
        </thead>
    
    <tbody>
        <% @doctors.each do |doctor| %>
        <tr>
            <td><%= doctor.name %></td>
            <td><%= doctor.hospital.name %></td>
            <td><%= doctor.treatment.name %></td>
            <td><%= link_to 'Remove this doctor', removedoctor_path(doctor.hospital, doctor), class: "btn btn-danger" %></td>
        </tr>
        <% end %>
    </tbody>
    </table>

</div>